<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="column" style="height:100vh;">

      <div fxFlex>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
        delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse. Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
        delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse. Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
        delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse. Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
        delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse.Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
        delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse. Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
        delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse.Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
        delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse. Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
        delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse.Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
        delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse. Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
        delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse.Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
        delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse. Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
        delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse.
        <br>
        <div fxLayoutAlign="center center">
          <mat-button-toggle color="primary" (click)="addMoreText = !addMoreText">Toggle me!.. To add/remove text</mat-button-toggle>
        </div>
        <div *ngIf="addMoreText">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis minima,
          delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere esse.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia quis
          minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem nulla facere
          esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam mollitia
          quis minima, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam
          mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem
          nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam
          mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint! Autem
          nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum numquam
          mollitia quis minima, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum
          numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint!
          Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum
          numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium sed sint!
          Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident, nostrum
          numquam mollitia quis minima, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium
          sed sint! Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium
          sed sint! Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium
          sed sint! Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium
          sed sint! Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium
          sed sint! Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium
          sed sint! Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium
          sed sint! Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium
          sed sint! Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium
          sed sint! Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium
          sed sint! Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium
          sed sint! Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,
          nostrum numquam mollitia quis minima, delectus quaerat voluptatibus asperiores repellendus vero alias accusantium
          sed sint! Autem nulla facere esse. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo eligendi provident,

        </div>
      </div>
      <div fxFlex="50px" fxLayoutAlign="center center" class="footer">footer</div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
